<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hml.mapper.LogMapper">


    <select id="getList" resultType="com.hml.domain.LogDTO">
        SELECT
        t1.name AS spName,
        t.create_time,
        t3.name as sqName,
        t2.`status`
        FROM
        log t
        LEFT JOIN `user` t1 ON t.user_id = t1.id
        LEFT JOIN leaves t2 ON t.leave_id = t2.id
        AND t2.`status` !=0
        LEFT JOIN `user` t3 ON t2.user_id = t3.id
        <where>
             <if test="logDTO.spName != null and logDTO.spName != '' ">
                 t1.name like concat('%',#{logDTO.spName},'%')
            </if>
            <if test="logDTO.sqName != null and logDTO.sqName != '' ">
               and    t3.name like concat('%',#{logDTO.sqName},'%')
            </if>

        </where>
    </select>

</mapper>